<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/assets/pico.classless.min.css" />
    <title>Create | Janki</title>
  </head>
  <body>
    <main>
      <h1>Create (<a href="/">Review</a>)</h1>
      <form action="/create" method="post">
        <input type="text" name="front" placeholder="Front" />
        <textarea name="back" placeholder="Back"></textarea>
        <input type="submit" value="Create" />
      </form>
    </main>
  </body>
</html>
