<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/assets/pico.classless.min.css" />
    <title>Review | Janki</title>
  </head>
  <body>
    <main>
      <h1>Review (<a href="/create">Create</a>)</h1>

      <h5>Front:</h5>
      <h2>{{.Card.Front}}</h2>

      {{if .Flipped}}
      <h5>Back:</h5>
      <p>{{.Card.Back}}</p>
      <ul>
        <li><a href="/review/{{.Card.ID}}?quality=5">perfect response</a></li>
        <li>
          <a href="/review/{{.Card.ID}}?quality=4"
            >correct response after a hesitation</a
          >
        </li>
        <li>
          <a href="/review/{{.Card.ID}}?quality=3"
            >correct response recalled with serious difficulty</a
          >
        </li>
        <li>
          <a href="/review/{{.Card.ID}}?quality=2"
            >incorrect response; where the correct one seemed easy to recall</a
          >
        </li>
        <li>
          <a href="/review/{{.Card.ID}}?quality=1"
            >incorrect response; the correct one remembered</a
          >
        </li>
        <li><a href="/review/{{.Card.ID}}?quality=0">complete blackout</a></li>
      </ul>
      {{else}}
      <h3><a href="/review/{{.Card.ID}}?flipped=true">Flip</a></h3>
      {{end}}
    </main>
  </body>
</html>
